.row{
    display: flex
   !important ;
        align-items: baseline !important;
}
.img4{
    height: 250px;}
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4; /* خلفية بيج فاتحة */
        display: flex;
    }
    
    
    
    /* تنسيق المحتوى الرئيسي */
    .content {
        margin-left: 300px;
        padding: 80px;
        width: 100%;
        color: #212121;
    }
    
    /* تنسيق العناوين */
    h1, h2 {
        text-align: center;
        color: #00796b; /* أخضر مائل للأزرق */
    }
    
    h1{
        color: black;
        font-family: fangsong;
        font-size: 40px;
    }
    h2{
        font-family: cursive;
        font-size: 15px;
        color: black;
    }
    